* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  background: url(./test/background.jpg) center/cover no-repeat;
  width: 100vw;
  height: 100vh;
}
#wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 50vw;
  height: 40vh;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 30px 10px;
}
#button_wrap {
  display: flex;
}
button {
  flex: 1;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}
