/* variables */
/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* body */
body {
  width: 100%;
  background: #0e0b14;
}

#container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  /* header */
  /* slide */
  /* popular-contents */
  /* original-contents */
}
#container .header a {
  position: absolute;
  top: 2%;
  right: 4%;
  transform: translate(-20%, -10%);
  padding: 10px 14px;
  border: 1px solid #f9f9f9;
  color: #f9f9f9;
  transition: all 0.2s;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
#container .header a:hover {
  background: #f9f9f9;
  color: #0e0b14;
}
#container .slide {
  position: relative;
  width: 100%;
  min-width: 1025px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#container .slide .slide-cont {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-10%, -50%);
  display: flex;
  flex-direction: column;
  color: #f9f9f9;
}
#container .slide .slide-cont .logo img {
  width: 180px;
}
#container .slide .slide-cont h1 {
  font-size: 44px;
  margin-top: 24px;
}
#container .slide .slide-cont .subscribe {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 24px;
}
#container .slide .slide-cont .subscribe .standard h2 {
  font-weight: bold;
}
#container .slide .slide-cont .subscribe .standard p {
  color: #c0c0c0;
  font-size: 10px;
}
#container .slide .slide-cont .subscribe .standard span {
  display: block;
  background: #02d6e8;
  padding: 20px 120px;
  margin: 10px 0 20px;
  border-radius: 4px;
  color: #0e0b14;
}
#container .slide .slide-cont .subscribe .premium h2 {
  font-weight: bold;
}
#container .slide .slide-cont .subscribe .premium p {
  color: #c0c0c0;
  font-size: 10px;
}
#container .slide .slide-cont .subscribe .premium span {
  display: block;
  background: #02d6e8;
  padding: 20px 120px;
  margin: 10px 0 20px;
  border-radius: 4px;
  color: #0e0b14;
}
#container .slide .slide-cont .slide-cont-bottom {
  margin: 24px 0;
  line-height: 1.7rem;
}
#container .slide .slide-cont .slide-cont-bottom b {
  font-weight: bold;
  border-bottom: 1px solid #f9f9f9;
}
#container .slide .slide-cont .slide-cont-bottom span {
  color: #c0c0c0;
  font-size: 16px;
}
#container .slide .slide-pager {
  width: 60%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
#container .slide .slide-pager .pagination {
  width: 100%;
  height: 1px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .slide .slide-pager .pagination.active {
  height: 3px;
}
#container .slide .slide-pager .pagination-control {
  background: transparent;
  border: none;
}
#container .slide .slide-pager .pagination-control i {
  color: #f9f9f9;
  font-size: 20px;
  margin-left: 50px;
}
#container .contents {
  border: 1px solid #f00;
  margin: 0 auto;
  width: 90%;
}
#container .contents h2 {
  color: #f9f9f9;
  text-align: center;
  font-size: 36px;
  margin: 24px 0 12px;
}
#container .contents .poster-container {
  border: 1px solid green;
  position: relative;
}
#container .contents .poster-container .poster {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .contents .poster-container .poster .poster01 {
  flex: 3;
}/*# sourceMappingURL=style.css.map */