.slide {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
  user-select: none;
}
.slide_item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  transition: all 0.2s;
}
